<div class="card">
  <div class="card-body">
    <div class="text-md-right mb-3">
      <%= new_link(controller_name) %>
    </div>

    <% if @approval_levels.blank? %>
      <div class="card">
        <div class="card-body text-center">
          No <%= approval_level_type %> approval level has been added yet. <%= new_link_without_btn(controller_name) %>
        </div>
      </div>
    <% else %>
      <% @approval_levels.each.with_index(1) do |approval_level, index| %>
        <section class="d-flex justify-content-between">
          <h5 class="mb-3"><%= "#{index.ordinalize} Approval Level" %></h5>

          <section>
            <%= edit_link(controller_name, approval_level) %> |
            <%= delete_link(controller_name, approval_level) %>
          </section>
        </section>

        <%= render "shared/approval_levels/user_tables", level_users: approval_level.level_users %>
      <% end %>
    <% end %>
  </div>
</div>
