<%= render layout: "shared/filter_modal", locals: { resource: @search, namespace: "master", modal_header: "Search Location" } do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6 col-sm-12">
      <%= f.label :name_cont_any, "Name" %>
      <%= f.search_field :name_cont_any, placeholder: "Name", title: "Type item name", class: "form-control", autocomplete: :off %>
    </div>

    <div class="form-group col-md-6 col-sm-12">
      <%= f.label :warehouse_name_cont_any, "Warehouse" %>
      <%= f.search_field :warehouse_name_cont_any, placeholder: "Warehouse Name", title: "Type warehouse name", class: "form-control", autocomplete: :off %>
    </div>

    <div class="form-group col-md-6 col-sm-12">
      <%= f.label :archive_eq, "Status" %>
      <%= f.select :archive_eq, status_selection, { prompt: "-- Select Status --" }, { class: "form-control" } %>
    </div>
  </div>
<% end %>
