<div class="table-responsive">
  <table class="table" width="100%">
    <thead class="thead">
      <tr>
        <th scope="col"><%= sort_link @search, :name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :warehouse_name, "Warehouse" %></th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @warehouse_locations.each do |warehouse_location| %>
        <tr>
          <td scope="row"><%= warehouse_location.name %></td>
          <td><%= warehouse_location.warehouse_name %></td>
          <td><%= warehouse_location.archived_status %></td>
          <td class="text-center">
            <%= edit_link_using_modal(controller_name, warehouse_location) %>
            <%= history_link_using_modal(controller_name, warehouse_location) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
