<% provide(:title, "Warehouse Locations") %>

<h1>Warehouse Locations</h1>

<section class="mb-4 d-flex justify-content-between">
  <section>
    <%= new_link_using_modal(controller_name) %>
    <%= filter_link_using_modal(params[:q]) %>
  </section>

  <section>
    <%= excel_export_btn(controller_name) %>
  </section>
</section>

<% if @warehouse_locations.present? %>
  <%= render "index_table" %>
<% else %>
  <div class="well">
    <% if params[:q].present? %>
      No record has been found. Please search with proper keywords.
    <% else %>
      No warehouse location has been added yet. <%= new_modal_link(controller_name) %>
    <% end %>
  </div>
<% end %>

<%= render "filter_form" %>
<%= render "shared/form_modal_container" %>
