<div class="table-responsive">
  <table class="table" width="100%">
    <thead class="thead">
      <tr>
        <th scope="col"><%= sort_link @search, :name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :description, "Description" %></th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @cost_centers.each do |cost_center| %>
        <tr>
          <td scope="row"><%= cost_center.name %></td>
          <td><%= cost_center.description %></td>
          <td><%= cost_center.archived_status %></td>
          <td class="text-center">
            <%= edit_link_using_modal(controller_name, cost_center) %>
            <%= history_link_using_modal(controller_name, cost_center) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
