<%= render layout: "shared/filter_modal", locals: { resource: @search, namespace: "master", modal_header: "Search Units of Measurement" } do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6 col-sm-12">
      <%= f.label :name_cont_any, "Name" %>
      <%= f.search_field :name_cont_any, placeholder: "Name", title: "Type uom name", class: "form-control", autocomplete: :off %>
    </div>

    <div class="form-group col-md-6 col-sm-12">
      <%= f.label :short_name_cont_any, "Short Name" %>
      <%= f.search_field :name_cont_any, placeholder: "Short Name", title: "Type uom short name", class: "form-control", autocomplete: :off %>
    </div>

    <div class="form-group col-md-6 col-sm-12">
      <%= f.label :archive, "Status" %>

      <div class="selectpicker-filter-dropdown">
        <%= f.select :archive_eq, [["Active", "false"], ["Archived", "true"]], { include_blank: true }, { class: "selectpicker", "data-live-search": "true" } %>
        <%= remove_selection_link %>
      </div>
    </div>
  </div>
<% end %>
