<div class="table-responsive">
  <table class="table" width="100%">
    <thead class="thead">
      <tr>
        <th scope="col"><%= sort_link @search, :name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :short_name, "Short Name" %></th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @uoms.each do |uom| %>
        <tr>
          <td scope="row"><%= uom.name %></td>
          <td><%= uom.short_name %></td>
          <td><%= uom.archived_status %></td>
          <td class="text-center">
            <%= edit_link_using_modal(controller_name, uom) %>
            <%= history_link_using_modal(controller_name, uom) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
