<% provide(:title, "Units of Measurement") %>

<section class="mb-4 d-flex justify-content-between">
  <span class="page-header"><span class="d-none d-md-inline">Units of Measurement</span><span class="d-md-none">UOMs</span></span>

  <section>
    <%= new_link_using_modal(controller_name) %>
    <%= filter_button(params[:q]) %>
    <%= excel_export_btn(controller_name) %>
    <%= import_modal_btn(controller_name) %>
  </section>
</section>

<div class="table-responsive">
  <table class="table table-hover" width="100%">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= sort_link @search, :name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :short_name, "Short Name" %></th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @uoms.each.with_index(1) do |uom, index| %>
        <tr>
          <td scope="row"><%= index %></td>
          <td><%= uom.name %></td>
          <td><%= uom.short_name %></td>
          <td><%= archive_status(uom.archive).html_safe %></td>
          <td class="text-center">
            <div class="dropdown">
              <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"></a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <%= edit_link_using_modal(controller_name, uom) %>
                <%= change_logs_link_using_modal(controller_name, uom) %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
<%= render "filter_form" %>
<%= render "shared/import_modal" %>
<%= render "shared/form_modal_container" %>
