<% provide(:title, "Account Deactivation") %>
<% provide(:company_name, @sender.organization.name) %>

<tr>
  <td style="color: #153643; font-family: sans-serif; font-size: 16px; line-height: 22px;">
    <p>Hey <%= @receiver.full_name %>,</p>
    <p>We are really sorry to say you that your account has been deactivated for <%= @sender.organization.name %>.</p>
    <p><b>We'd love to see you again.</b> Please contact with bellow person for activation.</p>
  </td>
</tr>

<tr>
  <td style="color: #153643; font-family: sans-serif; font-size: 16px; line-height: 22px;">
    <p>Thanks,</p>
    <p style="margin-bottom: 3px;"><%= @sender.full_name %></p>
    <p style="margin: 0;"><b>Email:</b> <a href="mailto:<%= @sender.email %>"><%= @sender.email %></a></p>
    <p style="margin: 0;"><b>Mobile Number:</b> <a href="tel:<%= @sender.mobile_number %>"><%= @sender.mobile_number %></a></p>
  </td>
</tr>
