<% provide(:title, "Log In") %>

<div class="row justify-content-center">
  <div class="col-sm-12 mb-4">
    <h3 class="text-center">Log In</h3>
  </div>

  <div class="col-sm-12 col-md-7 col-lg-5 col-xl-4">
    <div class="card">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email, "Email Address" %>
            <%= f.email_field :email, class: "form-control", autofocus: true, required: true, placeholder: "Email Address", autocomplete: "email", maxlength: 255 %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", required: true, placeholder: "Password", minlength: 6, maxlength: 128, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group custom-control custom-checkbox">
              <%= f.check_box :remember_me, class: "custom-control-input" %>
              <%= f.label :remember_me, class: "custom-control-label" %>
            </div>
          <% end %>

          <%= f.submit "Log in", class: "btn btn-primary", data: { disable_with: "Logging..." } %>
        <% end %>

        <hr>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
