<% provide(:title, "Login") %>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-9 col-lg-7 col-xl-5">
    <div class="card auth-card">
      <div class="card-body">
        <h4 class="custom-card-header">Login</h4>

        <%= render "layouts/flash_messages" %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :email, "Email Address" %>
            <%= f.email_field :email, class: "form-control", autofocus: true, required: true, placeholder: "Email Address", autocomplete: "email", maxlength: 255 %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", required: true, placeholder: "Password", minlength: 6, maxlength: 128, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group custom-form-group">
              <%= f.check_box :remember_me, class: "custom-checkbox" %>
              <%= f.label :remember_me, class: "custom-label" %>
            </div>
          <% end %>

          <%= f.submit "Login", class: "btn btn-primary form-btn", data: { disable_with: "Logging..." } %>
        <% end %>

        <hr>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
