<div class="table-responsive">
  <table class="table table-hover" width="100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= sort_link @search, :name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @payment_terms.each.with_index(1) do |term, index| %>
        <tr>
          <td scope="row"><%= index %></td>
          <td><%= term.name %></td>
          <td><%= archive_status(term.archive).html_safe %></td>
          <td class="text-center">
            <div class="dropdown">
              <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"></a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <%= edit_link_using_modal(controller_name, term) %>
                <%= show_modal_link(controller_name, term) %>
                <%= change_logs_link_using_modal(controller_name, term) %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
