<div class="table-responsive">
  <table class="table" width="100%">
    <thead>
      <tr>
        <th scope="col"><%= sort_link @search, :name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :description, "Description" %></th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @payment_terms.each do |payment_term| %>
        <tr>
          <td scope="row"><%= payment_term.name %></td>
          <td><%= payment_term.description %></td>
          <td><%= payment_term.archived_status %></td>
          <td class="text-center">
            <%= edit_link_using_modal(controller_name, payment_term) %>
            <%= history_link_using_modal(controller_name, payment_term) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
