<ul class="nav nav-tabs mb-5">
  <li class="nav-item">
    <%= link_to "Pending", procurement_pending_indents_path, class: "nav-link #{set_active_class("pending", current_tab)}" %>
  </li>

  <li class="nav-item">
    <%= link_to "Approved", procurement_approved_indents_path, class: "nav-link #{set_active_class("approved", current_tab)}" %>
  </li>

  <li class="nav-item">
    <%= link_to "Amended", procurement_amended_indents_path, class: "nav-link #{set_active_class("amended", current_tab)}" %>
  </li>

  <li class="nav-item">
    <%= link_to "Rejected", procurement_rejected_indents_path, class: "nav-link #{set_active_class("rejected", current_tab)}" %>
  </li>

  <li class="nav-item">
    <%= link_to "Cancelled", procurement_cancelled_indents_path, class: "nav-link #{set_active_class("cancelled", current_tab)}" %>
  </li>
</ul>
