<div class="table-responsive">
  <table class="table" width="100%">
    <thead>
      <tr>
        <th scope="col"><%= sort_link @search, :name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :short_name, "Short Name" %></th>
        <th scope="col">Address</th>
        <th scope="col"><%= sort_link @search, :phone_number, "Phone Number" %></th>
        <th scope="col">Logo</th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td scope="row"><%= company.name %></td>
          <td><%= company.short_name %></td>
          <td><%= company.address %></td>
          <td><%= company.phone_number %></td>
          <td><%= image_tag company.logo.url, alt: "company logo", height: 40 %></td>
          <td><%= company.archived_status %></td>
          <td class="text-center">
            <%= edit_link_using_modal(controller_name, company) %>
            <%= history_link_using_modal(controller_name, company) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
