<%= render layout: "shared/form_modal_layout", locals: { resource: @brand, namespace: "master" } do |f| %>
  <div class="form-group required">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: "form-control", placeholder: "Name", autocomplete: :off, maxlength: 255 %>
  </div>

  <div class="form-check">
    <%= f.check_box :archive, class: "form-check-input" %>
    <%= f.label :archive, class: "form-check-label" %>
  </div>
<% end %>
