<%= form_for [:procurement_pending, @indent] do |f| %>
  <%= render "shared/error_messages", resource: @indent %>

  <h4 class="mb-4">Indent Details:</h4>

  <div class="form-row">
    <div class="form-group col-sm-12 col-lg-3">
      <%= f.label :company_id %>
      <%= f.select :company_id, Company.accessible_companies(accessible_warehouse_ids).non_archived.order_by_name.pluck(:name, :id), { prompt: "-- Select Company --" }, { required: true, class: "form-control" } %>
    </div>

    <div class="form-group col-sm-12 col-lg-3">
      <%= f.label :warehouse_id %>
      <%= f.select :warehouse_id, warehouse_options(f.object), { prompt: "-- Select Warehouse --" }, { required: true, class: "form-control" } %>
    </div>

    <div class="form-group col-sm-12 col-lg-3">
      <%= f.label :indentor_id %>
      <%= f.select :indentor_id, Indentor.non_archived.pluck(:name, :id), { prompt: "-- Select Indentor --" }, { class: "form-control" } %>
    </div>

    <div class="form-group col-sm-12 col-lg-3">
      <%= f.label :requirement_date %>
      <%= f.text_field :requirement_date, value: I18n.l(f.object.requirement_date, default: ""), required: true, class: "form-control", autocomplete: :off %>
    </div>
  </div>

  <hr>

  <h4 class="mb-4">Indent Item Details:</h4>

  <%= f.fields_for :indent_items do |builder| %>
    <section class="form-row d-none d-lg-flex">
      <div class="col-lg-2"><label>Item</label></div>
      <div class="col-lg-1"><label>Make</label></div>
      <div class="col-lg-2"><label>Quantity</label></div>
      <div class="col-lg-1"><label>UOM</label></div>
      <div class="col-lg-2"><label>Cost Center</label></div>
      <div class="col-lg-1"><label>Priority</label></div>
      <div class="col-lg-2"><label>Note</label></div>
    </section>

    <%= render "indent_item_fields", f: builder %>
  <% end %>

  <%= link_to_add_fields f, :indent_items %>

  <div class="form-group mt-3">
    <%= f.submit yield(:button_title), class: "btn btn-primary", data: { disable_with: "Saving..." } %>
  </div>
<% end %>

<script>
  $('#indent_requirement_date').daterangepicker({
    autoUpdateInput: false,
    singleDatePicker: true,
    locale: {
      format: 'DD/MM/YYYY',
      cancelLabel: 'Clear'
    }
  });

  $('#indent_requirement_date').on('apply.daterangepicker', function (ev, picker) {
    $(this).val(picker.startDate.format('DD/MM/YYYY'));
  });

  $('#indent_requirement_date').on('cancel.daterangepicker', function (ev, picker) {
    $(this).val('');
  });
</script>
