<div class="modal fade" id="change_logs_modal" tabindex="-1" role="dialog" aria-labelledby="versionsModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="versionsModal">History for <strong><%= resource.public_send(attr) %></strong></h5>
        <%= image_tag "cancel.svg", class: "close", "data-dismiss": "modal", "aria-label":"Close" %>
      </div>

      <div class="modal-body">
        <p>This <%= resource.class_title.downcase %> has been created by <strong><%= resource.created_by.full_name %></strong> on <%= I18n.l(resource.created_at) %>.</p>

        <%= yield %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Close">Close</button>
      <div>
    </div>
  </div>
</div>
