<div class="table-responsive">
  <table class="table" width="100%">
    <thead class="thead">
      <tr>
        <th scope="col"><%= sort_link @search, :item_name, "Item" %></th>
        <th scope="col"><%= sort_link @search, :warehouse_name, "Warehouse" %></th>
        <th scope="col"><%= sort_link @search, :quantity, "Quantity" %></th>
        <th scope="col"><%= sort_link @search, :priority, "Priority" %></th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @reorder_levels.each do |level| %>
        <tr>
          <td scope="row"><%= level.item_name %></td>
          <td><%= level.warehouse_name %></td>
          <td><%= level.quantity_with_uom %></td>
          <td><%= level.priority.display %></td>
          <td><%= archive_status(level) %></td>
          <td class="text-center">
            <%= edit_link_using_modal(controller_name, level) %>
            <%= history_link_using_modal(controller_name, level) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
