<%= render layout: "shared/form_modal_layout", locals: { resource: @make, namespace: "master" } do |f| %>
  <div class="form-group">
    <%= f.label :item_id %>
    <%= f.select :item_id, Item.non_archived.order_by_name.pluck(:name, :id), { prompt: "-- Select Item --" }, { required: true, class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :brand_id %>
    <%= f.select :brand_id, Brand.non_archived.order_by_name.pluck(:name, :id), { prompt: "-- Select Item --" }, { required: true, class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :cat_no, "Catalogue Number" %>
    <%= f.text_field :cat_no, required: true, class: "form-control", placeholder: "Catalogue Number", autocomplete: :off, maxlength: 255 %>
  </div>

  <div class="custom-control custom-checkbox">
    <%= f.check_box :archive, class: "custom-control-input" %>
    <%= f.label :archive, class: "custom-control-label" %>
  </div>
<% end %>
