<div class="table-responsive">
  <table class="table" width="100%">
    <thead class="thead">
      <tr>
        <th scope="col"><%= sort_link @search, :item_name, "Item Name" %></th>
        <th scope="col"><%= sort_link @search, :brand_name, "Brand Name" %></th>
        <th scope="col"><%= sort_link @search, :cat_no, "Catalogue Number" %></th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @makes.each do |make| %>
        <tr>
          <td scope="row"><%= make.item_name %></td>
          <td><%= make.brand_name %></td>
          <td><%= make.cat_no %></td>
          <td><%= make.archived_status %></td>
          <td class="text-center">
            <%= edit_link_using_modal(controller_name, make) %>
            <%= history_link_using_modal(controller_name, make) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
