<% @indent_items.each  do |item| %>
  <tr class="<%= "border-bottom" if border_bottom_attached?(@bordered_item_ids, item.id) %>">
    <td scope="row"><%= item.indent_serial_number %></td>
    <td><%= item.item_name %></td>
    <td><%= item.brand_details %></td>
    <td><%= item.quantity_with_uom %></td>
    <td><%= item.cost_center_name %></td>
    <td><%= I18n.l(item.requirement_date) %></td>
    <td><%= item.priority.display %></td>
    <td class="text-center">
      <%= approve_action_link(controller_name, item) %>
      <%= reject_action_link(controller_name, item) %>
    </td>
  </tr>
<% end %>
