<%= render layout: "shared/filter_modal", locals: { resource: @search, namespace: "admin", modal_header: "Search Warehouses" } do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6 col-sm-12">
      <%= f.label :name_i_cont_any, "Name" %>
      <%= f.search_field :name_i_cont_any, placeholder: "Name", title: "Type warehouse name", class: "form-control", autocomplete: :off %>
    </div>

    <div class="form-group col-md-6 col-sm-12">
      <%= f.label :short_name_i_cont_any, "Short Name" %>
      <%= f.search_field :short_name_i_cont_any, placeholder: "Short Name", title: "Type warehouse short name", class: "form-control", autocomplete: :off %>
    </div>

    <div class="form-group col-md-6 col-sm-12">
      <%= f.label :company_name_i_cont_any, "Company" %>
      <%= f.search_field :company_name_i_cont_any, placeholder: "Company Name", title: "Type company name", class: "form-control", autocomplete: :off %>
    </div>

    <div class="form-group col-md-6 col-sm-12">
      <%= f.label :archive_eq, "Status" %>
      <%= f.select :archive_eq, status_selection, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
<% end %>
