<%= render layout: "shared/form_modal_layout", locals: { resource: @warehouse, namespace: "admin" } do |f| %>
  <div class="form-group">
    <%= f.label :company_id %>
    <%= f.select :company_id, current_organization.companies.order_by_name.pluck(:name, :id), { prompt: "-- Select Company --" }, { required: true, class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: "form-control", placeholder: "Name", autocomplete: :off, maxlength: 255 %>
  </div>

  <div class="form-group">
    <%= f.label :short_name %>
    <%= f.text_field :short_name, required: true, class: "form-control", placeholder: "Short Name", autocomplete: :off, maxlength: 8 %>
  </div>

  <div class="form-group">
    <%= f.label :address1, "Address 1" %>
    <%= f.text_field :address1, class: "form-control", required: true, placeholder: "Address 1", maxlength: 255 %>
  </div>

  <div class="form-group">
    <%= f.label :address2, "Address 2" %>
    <%= f.text_field :address2, class: "form-control", placeholder: "Address 2", maxlength: 255 %>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12 col-md-6">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control", required: true, placeholder: "City", maxlength: 255 %>
    </div>

    <div class="form-group col-sm-12 col-md-6">
      <%= f.label :state %>
      <%= f.text_field :state, class: "form-control", required: true, placeholder: "State", maxlength: 255 %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12 col-md-6">
      <%= f.label :country %>
      <%= f.text_field :country, class: "form-control", required: true, placeholder: "Country", maxlength: 255 %>
    </div>

    <div class="form-group col-sm-12 col-md-6">
      <%= f.label :pin_code, "PIN Code" %>
      <%= f.text_field :pin_code, class: "form-control", required: true, placeholder: "PIN Code", minlength: 6, maxlength: 6 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone_number, "Phone Number" %>
    <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone Number", maxlength: 255 %>
  </div>

  <div class="form-check">
    <%= f.check_box :archive, class: "form-check-input" %>
    <%= f.label :archive, class: "form-check-label" %>
  </div>
<% end %>
