<div class="table-responsive">
  <table class="table" width="100%">
    <thead>
      <tr>
        <th scope="col"><%= sort_link @search, :name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :short_name, "Short Name" %></th>
        <th scope="col"><%= sort_link @search, :company_name, "Company" %></th>
        <th scope="col">Address</th>
        <th scope="col"><%= sort_link @search, :phone_number, "Phone Number" %></th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @warehouses.each do |warehouse| %>
        <tr>
          <td scope="row"><%= warehouse.name %></td>
          <td><%= warehouse.short_name %></td>
          <td><%= warehouse.company_name %></td>
          <td><%= warehouse.address %></td>
          <td><%= warehouse.phone_number %></td>
          <td><%= warehouse.archived_status %></td>
          <td class="text-center">
            <%= edit_link_using_modal(controller_name, warehouse) %>
            <%= history_link_using_modal(controller_name, warehouse) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
