<% provide(:title, "Indent") %>
<% provide(:page_title, "#{@indent.serial_number}") %>

<div class="card">
  <div class="card-body">
    <div class="indent-details">
      <h3 class="mb-4">Indent Details</h3>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div>
            <label>Company:</label>
            <span><%= @indent.company.name %></span>
          </div>

          <div>
            <label>Warehouse:</label>
            <span><%= @indent.warehouse.name %></span>
          </div>

          <div>
            <label>Serial:</label>
            <span><%= @indent.serial_number %></span>
          </div>

          <div>
            <label>Indentor:</label>
            <span><%= @indent.indentor&.name %></span>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div>
            <label>Created By:</label>
            <span><%= @indent.created_by.full_name %></span>
          </div>

          <div>
            <label>Created At:</label>
            <span><%= I18n.l(@indent.created_at) %></span>
          </div>
        </div>
      </div>
    </div>

    <h4 class="mt-4 mb-3">Indent Item Details</h4>

    <div class="table-responsive">
      <table id="records_table" class="table indent-table" width="100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Make</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost&nbsp;Center</th>
            <th scope="col">Priority</th>
            <th scope="col">Req. Date</th>
            <th scope="col">Note</th>
            <th scope="col">Status</th>
          </tr>
        </thead>

        <tbody>
          <% @indent.indent_items.included_resources.each.with_index(1)  do |item, index| %>
            <tr>
              <td><%= index %></td>
              <td><%= item.item_name %></td>
              <td><%= item.brand_details %></td>
              <td><%= item.quantity_with_uom %></td>
              <td><%= item.cost_center_name %></td>
              <td><%= item.display_priority %></td>
              <td><%= I18n.l(item.requirement_date) %></td>
              <td><%= item.note %></td>
              <td><%= item.display_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
