<div class="modal fade" id="filter_modal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Search Vendors</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= search_form_for @search, url: master_vendors_path do |f|  %>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :vendor_store_information_name_i_cont_any, "Name" %>
              <%= f.search_field :vendor_store_information_name_i_cont_any, placeholder: "Name", title: "Type vendor name", class: "form-control", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :vendor_email_i_cont_any, "Email" %>
              <%= f.search_field :vendor_email_i_cont_any, placeholder: "Email", title: "Type vendor email", class: "form-control", autocomplete: :off %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <%= remove_filter_btn(controller_name) %>
          <%= f.submit "Filter", data: { disable_with: "Please wait..." }, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
