<%= render layout: "shared/form_modal_layout", locals: { resource: @vendor, namespace: "master" } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: "form-control", placeholder: "Name", autocomplete: :off, maxlength: 255 %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, required: true, class: "form-control", placeholder: "Email", autocomplete: :off, maxlength: 255 %>
  </div>
<% end %>
