<div class="table-responsive">
  <table class="table" width="100%">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @vendors.each do |vendor| %>
        <tr>
          <td scope="row"><%= vendor.name %></td>
          <td><%= vendor.email %></td>
          <td><%= vendor.status %></td>
          <td class="text-center">
            <%= resend_vendor_invitation_action_link(vendor) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
