<div class="col-sm-12 col-lg-11">
  <div class="card">
    <div class="card-body">
      <%= form_for [:transactions, @indent] do |f| %>
        <%= render "shared/error_messages", resource: @indent %>

        <div class="form-row">
          <div class="form-group col-sm-12 col-lg-4">
            <%= f.label :company_id, "Company" %>

            <div class="selectpicker-filter-dropdown">
              <%= f.select :company_id, current_organization.companies.order_by_name.pluck(:name, :id), {}, { required: true, class: "selectpicker", "data-live-search": "true" } %>
            </div>
          </div>

          <div class="form-group col-sm-12 col-lg-4">
            <%= f.label :warehouse_id, "Warehouse" %>

            <div class="selectpicker-filter-dropdown">
              <%= f.select :warehouse_id, warehouse_options(f.object), {}, { required: true, class: "selectpicker", "data-live-search": "true" } %>
            </div>
          </div>

          <div class="form-group col-sm-12 col-lg-2">
            <%= f.label :requirement_date %>

            <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
              <%= f.text_field :requirement_date, required: true, readonly: true, class: "form-control" %>
              <span class="input-group-addon ml-1"><i class="far fa-calendar-alt fa-2x"></i></span>
            </div>
          </div>
        </div>

        <hr>

        <h5 class="m-2">Add Indent Items</h5>

        <%= f.fields_for :indent_items do |builder| %>
          <%= render "indent_item_fields", f: builder %>
        <% end %>

        <%= link_to_add_fields f, :indent_items %>

        <hr>

        <%= f.submit "Save", class: "btn btn-primary btn-xs-block", data: { disable_with: "Saving..." } %>
      <% end %>
    </div>
  </div>
</div>
