<section class="mt-1 mb-2 p-1">
  <div class="form-row">
    <div class="form-group col-sm-12 col-lg-2">
      <%= f.label :item_id %>

      <div class="selectpicker-filter-dropdown border rounded">
        <%= f.select :item_id, current_organization.items.order_by_name.pluck(:name, :id), { prompt: "-- Select Item --" }, { required: true, class: "selectpicker item-selector", "data-live-search": "true" } %>
      </div>
    </div>

    <div class="form-group col-sm-12 col-lg-2">
      <%= f.label :make_id %>

      <div class="selectpicker-filter-dropdown border rounded">
        <%= f.select :make_id, make_options(f.object), { prompt: "-- Select Make --" }, { required: true, class: "selectpicker make-selector", "data-live-search": "true" } %>
      </div>
    </div>

    <div class="form-group col-sm-12 col-lg-1">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, required: true, min: 0, step: 0.01, class: "form-control" %>
    </div>

    <div class="form-group col-sm-12 col-lg-2">
      <%= f.label :uom_id, "UOM" %>

      <div class="selectpicker-filter-dropdown border rounded">
        <%= f.select :uom_id, uom_options(f.object), { prompt: "-- Select UOM --" }, { required: true, class: "selectpicker uom-selector", "data-live-search": "true" } %>
      </div>
    </div>

    <div class="form-group col-sm-12 col-lg-2">
      <%= f.label :cost_center_id %>

      <div class="selectpicker-filter-dropdown border rounded">
        <%= f.select :cost_center_id, current_organization.cost_centers.order_by_name.pluck(:name, :id), { prompt: "-- Select Cost Center --" }, { required: true, class: "selectpicker", "data-live-search": "true" } %>
      </div>
    </div>

    <div class="form-group col-sm-12 col-lg-1">
      <%= f.label :priority %>

      <div class="selectpicker-filter-dropdown border rounded">
        <%= f.select :priority, [["Default", "default"], ["High", "high"], ["Medium", "medium"], ["Low", "low"]], {}, { required: true, class: "selectpicker", "data-live-search": "true" } %>
      </div>
    </div>

    <div class="form-group col-sm-12 col-lg-1">
      <%= f.label :note %>
      <%= f.text_field :note, class: "form-control", autocomplete: :off %>
    </div>

    <div class="form-group col-sm-12 col-lg-1 d-flex justify-content-center align-items-center">
      <%= f.hidden_field :_destroy %>
      <%= link_to_remove_fields %>
    </div>
  </div>
</section>
