<% @indent_items.each  do |indent_item, index| %>
  <tr>
    <td><%= indent_item.indent.company.name %></td>
    <td><%= indent_item.indent.warehouse.name %></td>
    <td><%= indent_item.item.name %></td>
    <td><%= indent_item.make&.brand_name %></td>
    <td><%= indent_item.quantity_with_uom %></td>
    <td><%= indent_item.indent.requirement_date.strftime("%d-%b-%y") %></td>
    <td><%= indent_item.priority %></td>
    <td><%= indent_item.cost_center.name %></td>
    <td><%= edit_link(controller_name, indent_item.indent) %></td>
  </tr>
<% end %>
