<%= render layout: "shared/form_modal_layout", locals: { resource: @item_group, namespace: "master" } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: "form-control", placeholder: "Name", autocomplete: :off, maxlength: 255 %>
  </div>

  <div class="form-group">
    <%= f.label :hsn_code %>
    <%= f.text_field :hsn_code, class: "form-control", placeholder: "HSN", autocomplete: :off, maxlength: 8 %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3, class: "form-control", autocomplete: :off %>
  </div>

  <div class="custom-control custom-checkbox">
    <%= f.check_box :archive, class: "custom-control-input" %>
    <%= f.label :archive, class: "custom-control-label" %>
  </div>
<% end %>
