<div class="table-responsive">
  <table class="table" width="100%">
    <thead class="thead">
      <tr>
        <th scope="col"><%= sort_link @search, :name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :hsn_code, "HSN Code" %></th>
        <th scope="col">Description</th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @item_groups.each do |item_group| %>
        <tr>
          <td scope="row"><%= item_group.name %></td>
          <td><%= item_group.hsn_code %></td>
          <td><%= item_group.description %></td>
          <td><%= item_group.archived_status %></td>
          <td class="text-center">
            <%= edit_link_using_modal(controller_name, item_group) %>
            <%= history_link_using_modal(controller_name, item_group) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
