<section class="page-header">
  <div class="left-section">
    <%= image_tag "hamburger.png", alt: "hamburger icon", class: "hamburger-icon" %>
    <h6 class="title"><%= current_organization.name %></h6>
  </div>

  <div class="dropdown">
    <div class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="user-image"><%= current_user.initial %></span>
    </div>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li>
        <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
          <span class="dropdown-item-text">Setting</span>
        <% end %>
      </li>

      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
          <span class="dropdown-item-text">Log Out</span>
        <% end %>
      </li>
    </ul>
  </div>
</section>
