<aside class="sidebar">
  <div class="app-brand">
    <%= link_to dashboard_path do %>
      <span class="brand-name">Industry Fusion</span>
    <% end %>
  </div>

  <div class="sidebar-inner" style="height: 100%;">
    <ul class="sidebar-menu-list">
      <li>
        <%= link_to dashboard_path, class: "sidebar-menu-link" do %>
          <%= image_tag "dashboard.png", alt: "dashboard icon" %>
          <span class="nav-text">Dashboard</span>
        <% end %>
      </li>

      <li class="has-sub <%= active_sidebar_menu("procurement") %>">
        <a class="sidebar-menu-link">
          <%= image_tag "procurement.png", alt: "procurement icon" %>
          <span class="nav-text">Procurement</span>
        </a>

        <ul class="sidebar-submenu-list hide">
          <li class="<%= active_sidebar_sub_menu("indents") %>">
            <%= link_to procurement_indents_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Indents</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("quotation_requests") %>">
            <%= link_to procurement_quotation_requests_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Quotation Requests</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("approval_requests") %>">
            <%= link_to procurement_approval_requests_indents_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Approval Requests</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("reports") %>">
            <%= link_to procurement_reports_indents_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Reports</span>
              <span class="indicator"></span>
            <% end %>
          </li>
        </ul>
      </li>

      <li class="has-sub <%= active_sidebar_menu("master") %>">
        <a class="sidebar-menu-link">
          <%= image_tag "master.png", alt: "master icon" %>
          <span class="nav-text">Master</span>
        </a>

        <ul class="sidebar-submenu-list hide">
          <li class="<%= active_sidebar_sub_menu("brands") %>">
            <%= link_to master_brands_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Brands</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("cost_centers") %>">
            <%= link_to master_cost_centers_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Cost Centers</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("item_groups") %>">
            <%= link_to master_item_groups_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Item Groups</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("uoms") %>">
            <%= link_to master_uoms_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Units of Measurement</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("vendors") %>">
            <%= link_to master_vendors_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Vendors</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("items") %>">
            <%= link_to master_items_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Items</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("makes") %>">
            <%= link_to master_makes_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Makes</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("indentors") %>">
            <%= link_to master_indentors_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Indentors</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("warehouse_locations") %>">
            <%= link_to master_warehouse_locations_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Warehouse Locations</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("reorder_levels") %>">
            <%= link_to master_reorder_levels_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Reorder Levels</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("payment_terms") %>">
            <%= link_to master_payment_terms_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">Payment Terms</span>
              <span class="indicator"></span>
            <% end %>
          </li>

          <li class="<%= active_sidebar_sub_menu("additional_terms") %>">
            <%= link_to master_additional_terms_path, class: "sidebar-submenu-link" do %>
              <span class="nav-text">PO Additional Terms</span>
              <span class="indicator"></span>
            <% end %>
          </li>
        </ul>
      </li>

      <% if current_user.admin? %>
        <li class="has-sub <%= active_sidebar_menu("admin") %>">
          <a class="sidebar-menu-link">
            <%= image_tag "admin.png", alt: "admin icon" %>
            <span class="nav-text">Admin</span>
          </a>

          <ul class="sidebar-submenu-list hide">
            <li class="<%= active_sidebar_sub_menu("users") %>">
              <%= link_to admin_users_path, class: "sidebar-submenu-link" do %>
                <span class="nav-text">Users</span>
                <span class="indicator"></span>
              <% end %>
            </li>

            <li class="<%= active_sidebar_sub_menu("companies") %>">
              <%= link_to admin_companies_path, class: "sidebar-submenu-link" do %>
                <span class="nav-text">Companies</span>
                <span class="indicator"></span>
              <% end %>
            </li>

            <li class="<%= active_sidebar_sub_menu("warehouses") %>">
              <%= link_to admin_warehouses_path, class: "sidebar-submenu-link" do %>
                <span class="nav-text">Warehouses</span>
                <span class="indicator"></span>
              <% end %>
            </li>

            <li class="<%= active_sidebar_sub_menu("approval_levels") %>">
              <%= link_to admin_approval_levels_indents_path, class: "sidebar-submenu-link" do %>
                <span class="nav-text">Approval Levels</span>
                <span class="indicator"></span>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
