<aside class="left-sidebar sidebar-dark" id="left-sidebar">
  <div id="sidebar" class="sidebar">
    <div class="app-brand">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", alt: "School Management" %>
        <span class="brand-name">Industry Fusion</span>
      <% end %>
    </div>

    <div class="sidebar-left" data-simplebar style="height: 100%;">
      <ul class="nav sidebar-inner" id="sidebar-menu">
        <li>
          <%= link_to root_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-briefcase-account-outline"></i>
            <span class="nav-text">Business Dashboard</span>
          <% end %>
        </li>

        <%# <li class="section-title">
          UI Elements
        </li> %>

        <li class="has-sub active expand">
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#master_links" aria-expanded="false" aria-controls="master_links">
            <i class="mdi mdi-folder-outline"></i>
            <span class="nav-text">Master</span> <b class="caret"></b>
          </a>

          <ul class="collapse show" id="master_links" data-parent="#sidebar-menu">
            <div class="sub-menu">
              <li>
                <%= link_to master_brands_path, class: "sidenav-item-link" do %>
                  <span class="nav-text">Brands</span>
                <% end %>
              </li>

              <li class="active">
                <%= link_to master_cost_centers_path, class: "sidenav-item-link" do %>
                  <span class="nav-text">Cost Centers</span>
                <% end %>
              </li>

              <li>
                <%= link_to master_item_groups_path, class: "sidenav-item-link" do %>
                  <span class="nav-text">Item Groups</span>
                <% end %>
              </li>

              <li>
                <%= link_to master_uoms_path, class: "sidenav-item-link" do %>
                  <span class="nav-text">Unit Of Measurement</span>
                <% end %>
              </li>

              <li>
                <%= link_to master_vendors_path, class: "sidenav-item-link" do %>
                  <span class="nav-text">Vendors</span>
                <% end %>
              </li>

              <li>
                <%= link_to master_items_path, class: "sidenav-item-link" do %>
                  <span class="nav-text">Items</span>
                <% end %>
              </li>
            </div>
          </ul>
        </li>

        <li class="has-sub expand">
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#transaction_links" aria-expanded="false" aria-controls="transaction_links">
            <i class="mdi mdi-folder-outline"></i>
            <span class="nav-text">Transactions</span> <b class="caret"></b>
          </a>

          <ul class="collapse show" id="transaction_links" data-parent="#sidebar-menu">
            <div class="sub-menu">
              <li>
                <%= link_to transactions_indents_path, class: "sidenav-item-link" do %>
                  <span class="nav-text">Indents</span>
                <% end %>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</aside>
