<aside class="left-sidebar sidebar-dark" id="left-sidebar">
  <div id="sidebar" class="sidebar">
    <div class="app-brand">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", alt: "School Management" %>
        <span class="brand-name">Industry Fusion</span>
      <% end %>
    </div>

    <div class="sidebar-left" data-simplebar style="height: 100%;">
      <ul class="nav sidebar-inner" id="sidebar-menu">
        <li>
          <%= link_to root_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-briefcase-account-outline"></i>
            <span class="nav-text">Business Dashboard</span>
          <% end %>
        </li>


        <li class="section-title">
          Transactions
        </li>

        <li class="<%= active_class("indents") %>">
          <a class="sidenav-item-link" href="<%= transactions_indents_path %>">
            <i class="mdi mdi-notebook"></i>
            <span class="nav-text">Indents</span>
          </a>
        </li>

        <li class="section-title">
          Master
        </li>

        <li class="<%= active_class("brands") %>">
          <a class="sidenav-item-link" href="<%= master_brands_path %>">
            <i class="mdi mdi-registered-trademark"></i>
            <span class="nav-text">Brands</span>
          </a>
        </li>

        <li class="<%= active_class("cost_centers") %>">
          <a class="sidenav-item-link" href="<%= master_cost_centers_path %>">
            <i class="mdi mdi-steam"></i>
            <span class="nav-text">Cost Centers</span>
          </a>
        </li>

        <li class="<%= active_class("item_groups") %>">
          <a class="sidenav-item-link" href="<%= master_item_groups_path %>">
            <i class="mdi mdi-cart"></i>
            <span class="nav-text">Item Groups</span>
          </a>
        </li>

        <li class="<%= active_class("uoms") %>">
          <a class="sidenav-item-link" href="<%= master_uoms_path %>">
            <i class="mdi mdi-scale-balance"></i>
            <span class="nav-text">Unit Of Measurement</span>
          </a>
        </li>

        <li class="<%= active_class("vendors") %>">
          <a class="sidenav-item-link" href="<%= master_vendors_path %>">
            <i class="mdi mdi-alien"></i>
            <span class="nav-text">Vendors</span>
          </a>
        </li>

        <li class="<%= active_class("items") %>">
          <a class="sidenav-item-link" href="<%= master_items_path %>">
            <i class="mdi mdi-hammer"></i>
            <span class="nav-text">Items</span>
          </a>
        </li>

        <% if current_user.admin? %>
          <li class="section-title">
            Admin
          </li>

          <li class="<%= active_class("users") %>">
            <a class="sidenav-item-link" href="<%= admin_users_path %>">
              <i class="mdi mdi-account-group"></i>
              <span class="nav-text">Users</span>
            </a>
          </li>

          <li class="<%= active_class("companies") %>">
            <a class="sidenav-item-link" href="<%= admin_companies_path %>">
              <i class="mdi mdi-factory"></i>
              <span class="nav-text">Companies</span>
            </a>
          </li>

          <li class="<%= active_class("warehouses") %>">
            <a class="sidenav-item-link" href="<%= admin_warehouses_path %>">
              <i class="mdi mdi-store"></i>
              <span class="nav-text">Warehouses</span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</aside>
