<aside class="left-sidebar sidebar-dark" id="left-sidebar">
  <div id="sidebar" class="sidebar">
    <div class="app-brand">
      <%= link_to dashboard_path do %>
        <%= image_tag "logo.png", alt: "Industry Fusion" %>
        <span class="brand-name">Industry Fusion</span>
      <% end %>
    </div>

    <div class="sidebar-left" data-simplebar style="height: 100%;">
      <ul class="nav sidebar-inner" id="sidebar-menu">
        <li>
          <%= link_to dashboard_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-view-dashboard"></i>
            <span class="nav-text">Dashboard</span>
          <% end %>
        </li>


        <li class="section-title">
          Transactions
        </li>

        <li class="<%= active_class("indents") %>">
          <%= link_to transactions_indents_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-clipboard-text"></i>
            <span class="nav-text">Indents</span>
          <% end %>
        </li>

        <li class="section-title">
          Master
        </li>

        <li class="<%= active_class("brands") %>">
          <%= link_to master_brands_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-puzzle"></i>
            <span class="nav-text">Brands</span>
          <% end %>
        </li>

        <li class="<%= active_class("cost_centers") %>">
          <%= link_to master_cost_centers_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-cash-multiple"></i>
            <span class="nav-text">Cost Centers</span>
          <% end %>
        </li>

        <li class="<%= active_class("item_groups") %>">
          <%= link_to master_item_groups_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-group"></i>
            <span class="nav-text">Item Groups</span>
          <% end %>
        </li>

        <li class="<%= active_class("uoms") %>">
          <%= link_to master_uoms_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-scale-balance"></i>
            <span class="nav-text">Unit Of Measurement</span>
          <% end %>
        </li>

        <li class="<%= active_class("vendors") %>">
          <%= link_to master_vendors_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-account-supervisor"></i>
            <span class="nav-text">Vendors</span>
          <% end %>
        </li>

        <li class="<%= active_class("items") %>">
          <%= link_to master_items_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-ballot"></i>
            <span class="nav-text">Items</span>
          <% end %>
        </li>

        <li class="<%= active_class("makes") %>">
          <%= link_to master_makes_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-hexagon-multiple"></i>
            <span class="nav-text">Makes</span>
          <% end %>
        </li>

        <li class="<%= active_class("warehouse_locations") %>">
          <%= link_to master_warehouse_locations_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-map-marker"></i>
            <span class="nav-text">Warehouse Locations</span>
          <% end %>
        </li>

        <li class="<%= active_class("reorder_levels") %>">
          <%= link_to master_reorder_levels_path, class: "sidenav-item-link" do %>
            <i class="mdi mdi-reorder-horizontal"></i>
            <span class="nav-text">Reorder Levels</span>
          <% end %>
        </li>

        <% if current_user.admin? %>
          <li class="section-title">
            Admin
          </li>

          <li class="<%= active_class("users") %>">
            <%= link_to admin_users_path, class: "sidenav-item-link" do %>
              <i class="mdi mdi-account-group"></i>
              <span class="nav-text">Users</span>
            <% end %>
          </li>

          <li class="<%= active_class("companies") %>">
            <%= link_to admin_companies_path, class: "sidenav-item-link" do %>
              <i class="mdi mdi-factory"></i>
              <span class="nav-text">Companies</span>
            <% end %>
          </li>

          <li class="<%= active_class("warehouses") %>">
            <%= link_to admin_warehouses_path, class: "sidenav-item-link" do %>
              <i class="mdi mdi-office-building"></i>
              <span class="nav-text">Warehouses</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</aside>
