<% provide(:title, "Organization Preferences") %>
<% provide(:page_title, "Organization Preferences") %>

<div class="row">
  <div class="col-xl-3">
    <%= render "shared/settings_sidebar", active_class: "organization" %>
  </div>

  <div class="col-sm-12 col-xl-9">
    <div class="card">
      <div class="card-body">
        <%= form_for [:admin, @organization], url: preferences_admin_organizations_path, method: :put do |f| %>
          <%= render "shared/error_messages", resource: @organization %>

          <div class="form-group custom-control custom-checkbox">
            <%= f.check_box :send_master_notification, class: "custom-control-input" %>
            <%= f.label :send_master_notification, class: "custom-control-label" %>
          </div>

          <div class="form-group custom-control custom-checkbox">
            <%= f.check_box :page_help_needed, class: "custom-control-input" %>
            <%= f.label :page_help_needed, class: "custom-control-label" %>
          </div>

          <%= f.submit "Update", class: "btn btn-primary", data: { disable_with: "Updating..." } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
