<% provide(:title, "Cancelled Indents") %>
<% provide(:page_title, "Cancelled Indents") %>

<%= render "shared/page_help" %>

<div class="card">
  <div class="card-body">
    <%= render partial: "procurement/indents/shared/status_tab", locals: { current_tab: "cancelled" } %>

    <div class="row mb-4">
      <div class="col-xs-12 col-sm-6 mb-1 mb-sm-0">
        <h3 class="text-muted">Total Count: <%= @total_count %></h3>
      </div>

      <div class="col-xs-12 col-sm-6 text-sm-right">
        <%= filter_link_using_modal(params[:q]) %>
        <%= excel_export_btn(controller_name) %>
      </div>
    </div>

    <% if @indent_items.present? %>
      <%= render "index_table" %>
    <% else %>
      <div class="card">
        <div class="card-body text-center">
          <% if params[:q].present? %>
            No result found. Please search with proper keywords.
          <% else %>
            No indent has been added yet. <%= new_link("pending_indents") %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="note_modal_block"></div>

<div id="auto_next_link">
  <%= render "shared/auto_incremental_pagy" %>
</div>

<%= render "procurement/indents/shared/filter_form", url: procurement_cancelled_indents_path %>

<script>
  var loadNextPage = function () {
    if ($('#records_table').height() === undefined || $('#next_link').data("loading")) { return }  // prevent multiple loading
    var wBottom = $(window).scrollTop() + $(window).height();
    var elBottom = $('#records_table').offset().top + $('#records_table').height();

    if (wBottom > elBottom) {
      if ($('#next_link')[0] !== undefined) {    // checking next page link is available or not
        $('#next_link')[0].click();
        $('#next_link').data("loading", true);
      }
    }
  };

  window.addEventListener('resize', loadNextPage);
  window.addEventListener('scroll', loadNextPage);
  window.addEventListener('load', loadNextPage);
</script>
