<%= form_tag procurement_approved_indents_path, method: :get do %>
  <div class="table-responsive">
    <table id="records_table" class="table table-hover indent-table" width="100%">
      <thead>
        <tr>
          <th scope="col"><%= check_box_tag "", "", false, id: "indent_select_all_checkbox", class: "bulk-action-select-all-checkbox" %></th>
          <th scope="col"><%= sort_link @search, :indent_serial, "Serial" %></th>
          <th scope="col"><%= sort_link @search, :item_name, "Item" %></th>
          <th scope="col"><%= sort_link @search, :make_brand_name, "Make" %></th>
          <th scope="col"><%= sort_link @search, :quantity, "Quantity" %></th>
          <th scope="col"><%= sort_link @search, :cost_center_name, raw("Cost&nbsp;Center") %></th>
          <th scope="col"><%= sort_link @search, :indent_requirement_date, raw("Requirement&nbsp;Date") %></th>
          <th scope="col"><%= sort_link @search, :priority, "Priority" %></th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        <%= render "page_items" %>
      </tbody>
    </table>
  </div>
<% end %>
