<% @indent_items.each_with_index  do |item, index| %>
  <tr class="<%= "border-bottom" if border_bottom_attached?(@bordered_item_ids, item.id) %>">
    <td><%= check_box_tag "indent_item[ids][]", "#{ item.id }", false, id: "indent_item_id_#{ item.id }", class: "bulk-action-checkbox" %></td>
    <td><%= item.indent_serial_number %></td>
    <td><%= item.item_name %></td>
    <td><%= item.brand_details %></td>
    <td><%= item.quantity_with_uom %></td>
    <td><%= item.cost_center_name %></td>
    <td><%= I18n.l(item.indent_requirement_date) %></td>
    <td><%= item.note.present? ? active_note_display_link(item) : disabled_note_display_link %></td>
    <td><%= item.display_priority %></td>
    <td class="text-center">
      <div class="dropdown">
        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"></a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <%= show_action_link(controller_name, item.indent) %>
          <%= amended_action_link(controller_name, item) %>
          <%= print_action_link(controller_name, item.indent) %>
        </div>
      </div>
    </td>
  </tr>
<% end %>
