<div class="modal fade" id="filter_modal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Search Indents</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= search_form_for @search, url: indent_selection_new_procurement_quotation_request_path do |f|  %>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :indent_serial_number_i_cont_any, "Serial Number" %>
              <%= f.search_field :indent_serial_number_i_cont_any, placeholder: "Serial Number", title: "Type serial number", class: "form-control", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :indent_company_name_i_cont_any, "Company Name" %>
              <%= f.search_field :indent_company_name_i_cont_any, placeholder: "Company Name", title: "Type company name", class: "form-control", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :indent_warehouse_name_i_cont_any, "Warehouse Name" %>
              <%= f.search_field :indent_warehouse_name_i_cont_any, placeholder: "Warehouse Name", title: "Type warehouse name", class: "form-control", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :indent_indentor_name_i_cont_any, "Indentor Name" %>
              <%= f.search_field :indent_indentor_name_i_cont_any, placeholder: "Indentor Name", title: "Type indentor name", class: "form-control", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :requirement_date_gteq, "Req. Start Date" %>
              <%= f.search_field :requirement_date_gteq, value: I18n.l(req_date_gt, default: ""), placeholder: "Req. Date greater than", title: "Insert Date", class: "form-control indent-item-requirement-date", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :requirement_date_lteq, "Req. End Date" %>
              <%= f.search_field :requirement_date_lteq, value: I18n.l(req_date_lt, default: ""), placeholder: "Req. Date less than", title: "Insert Date", class: "form-control indent-item-requirement-date", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :item_name_i_cont_any, "Item Name" %>
              <%= f.search_field :item_name_i_cont_any, placeholder: "Item Name", title: "Type item name", class: "form-control", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :brand_with_cat_no_search, "Make" %>
              <%= f.search_field :brand_and_cat_no_filter, placeholder: "Brand or Cat no.", title: "Type Brand or Cat no.", class: "form-control", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :quantity_eq, "Quantity" %>
              <%= f.search_field :quantity_eq, placeholder: "Quantity", title: "Type quantity", class: "form-control", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :uom_short_name_i_cont_any, "UOM Short Name" %>
              <%= f.search_field :uom_short_name_i_cont_any, placeholder: "UOM Short Name", title: "Type uom short name", class: "form-control", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :cost_center_name_i_cont_any, "Cost Center Name" %>
              <%= f.search_field :cost_center_name_i_cont_any, placeholder: "Cost Center Name", title: "Type cost center name", class: "form-control", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :note_i_cont_any, "Note" %>
              <%= f.search_field :note_i_cont_any, placeholder: "Note", title: "Type note", class: "form-control", autocomplete: :off %>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <%= f.label :priority_eq, "Priority" %>
              <%= f.select :priority_eq, indent_item_priority_selection, { include_blank: true }, { class: "form-control" } %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <%= link_to "Remove Filter", indent_selection_new_procurement_quotation_request_path, class: "btn btn-secondary" %>
          <%= f.submit "Filter", data: { disable_with: "Please wait..." }, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('.indent-item-requirement-date').daterangepicker({
    autoUpdateInput: false,
    singleDatePicker: true,
    locale: {
      format: 'DD/MM/YYYY',
      cancelLabel: 'Clear'
    }
  });

  $('.indent-item-requirement-date').on('apply.daterangepicker', function (ev, picker) {
    $(this).val(picker.startDate.format('DD/MM/YYYY'));
  });

  $('.indent-item-requirement-date').on('cancel.daterangepicker', function (ev, picker) {
    $(this).val('');
  });
</script>
