<div class="table-responsive">
  <table id="records_table" class="table" width="100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= sort_link @search, :vendor_store_information_name, "Store Name" %></th>
        <th scope="col"><%= sort_link @search, :vendor_first_name, "Contact Person" %></th>
        <th scope="col"><%= sort_link @search, :vendor_email, "Contact Email" %></th>
        <th scope="col"><%= sort_link @search, :vendor_mobile_number, "Contact Number" %></th>
      </tr>
    </thead>

    <tbody>
      <%= render "vendor_table_items" %>
    </tbody>
  </table>
</div>
