<% provide(:title, "Brands") %>

<section class="mb-4 d-flex justify-content-between">
  <h3 class="mb-0">Brands</h3>
  <%= new_link_using_modal(controller_name) %>
</section>

<div class="table-responsive">
  <table class="table table-hover" width="100%">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @brands.each.with_index(1) do |brand, index| %>
        <tr>
          <td scope="row"><%= index %></td>
          <td><%= brand.name %></td>
          <td><%= archive_status(brand.archive).html_safe %></td>
          <td>
            <%= edit_link_using_modal(controller_name, brand) %> |
            <%= delete_link(controller_name, brand) %> |
            <%= change_logs_link_using_modal(controller_name, brand) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
<div id="modal_form"></div>
