<%= render layout: "shared/form_modal_layout", locals: { resource: @user, namespace: "admin" } do |f| %>
  <% if @user.new_record? %>
    <div class="form-group">
      <%= f.label :email, "Email Address" %>
      <%= f.email_field :email, class: "form-control", required: true, placeholder: "Email Address", autocomplete: "email", maxlength: 255 %>
    </div>
  <% else %>
    <% Warehouse.order_by_name.each do |warehouse| %>
      <div class="custom-control custom-checkbox">
        <%= check_box_tag "user[warehouse_ids][]", warehouse.id, @user.warehouse_ids.include?(warehouse.id.to_s), class: "custom-control-input", id: "warehouse_#{warehouse.id}" %>
        <label for="warehouse_<%= warehouse.id %>" class="custom-control-label"><%= warehouse.name %></label>
      </div>
    <% end %>
  <% end %>
<% end %>
