<div class="table-responsive">
  <table class="table table-hover" width="100%">
    <thead class="thead">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= sort_link @search, :first_name, "First Name" %></th>
        <th scope="col"><%= sort_link @search, :last_name, "Last Name" %></th>
        <th scope="col"><%= sort_link @search, :email, "Email" %></th>
        <th scope="col"><%= sort_link @search, :mobile_number, "Mobile Number" %></th>
        <th scope="col">Role</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each.with_index(1) do |user, index| %>
        <tr>
          <td scope="row"><%= index %></td>
          <td><%= user&.first_name %></td>
          <td><%= user&.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.mobile_number %></td>
          <td><%= raw(user_role(user)) %></td>
          <td><%= raw(user_status(user)) %></td>
          <td class="text-center">
            <% unless user.admin? %>
              <div class="dropdown">
                <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"></a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <%= assign_warehouse_action_link(controller_name, user) %>
                  <%= user.archive? ? activation_action_link(controller_name, user) : deactivation_action_link(controller_name, user) %>
                  <%= history_link_using_modal(controller_name, user) %>
                  <%= resend_user_invitation_action_link(user) if user.pending_acception? %>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
