<div class="table-responsive">
  <table class="table" width="100%">
    <thead>
      <tr>
        <th scope="col"><%= sort_link @search, :first_name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :email, "Email" %></th>
        <th scope="col"><%= sort_link @search, :mobile_number, "Mobile Number" %></th>
        <th scope="col">Role</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td scope="row"><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.mobile_number %></td>
          <td><%= user_role(user) %></td>
          <td><%= user_status(user) %></td>
          <td class="text-center">
            <% unless user.admin? %>
              <% if user.archive? %>
                <%= activation_action_link(controller_name, user) %>
              <% elsif user.pending_invitation? %>
                <%= resend_user_invitation_action_link(user) %>
              <% else %>
                <%= deactivation_action_link(controller_name, user) %>
                <%= assign_warehouse_action_link(controller_name, user) %>
              <% end %>

              <%= history_link_using_modal(controller_name, user) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
