<div class="table-responsive">
  <table class="table" width="100%">
    <thead>
      <tr>
        <th scope="col"><%= sort_link @search, :name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @indentors.each do |indentor| %>
        <tr>
          <td scope="row"><%= indentor.name %></td>
          <td><%= indentor.archived_status %></td>
          <td class="text-center">
            <%= edit_link_using_modal(controller_name, indentor) %>
            <%= history_link_using_modal(controller_name, indentor) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
