<%= render layout: "shared/form_modal_layout", locals: { resource: @item, namespace: "master" } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: "form-control", placeholder: "Name", autocomplete: :off, maxlength: 255 %>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12 col-md-6">
      <%= f.label :item_group_id, "Item Group" %>
      <%= f.select :item_group_id, current_organization.item_groups.order_by_name.pluck(:name, :id), { prompt: "-- Select Item Group --" }, { required: true, class: "form-control" } %>
    </div>

    <div class="form-group col-sm-12 col-md-6">
      <%= f.label :uom_id, "UOM" %>
      <%= f.select :uom_id, current_organization.uoms.order_by_name.pluck(:short_name, :id), { prompt: "-- Select UOM --" }, { required: true, class: "form-control" } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12 col-md-6">
      <%= f.label :secondary_uom_id, "Secondary UOM" %>
      <%= f.select :secondary_uom_id, current_organization.uoms.order_by_name.pluck(:short_name, :id), { prompt: "-- Select Secondary UOM --", include_blank: true }, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-row convertion-block <%= "hide" unless f.object.secondary_uom_id %>">
    <div class="form-group col-sm-12 col-md-6">
      <%= f.label :primary_quantity, "Primary Quantity" %>
      <%= f.number_field :primary_quantity, min: 0, step: 0.01, class: "form-control" %>
    </div>

    <div class="form-group col-sm-12 col-md-6">
      <%= f.label :secondary_quantity, "Secondary Quantity" %>
      <%= f.number_field :secondary_quantity, min: 0, step: 0.01, class: "form-control" %>
    </div>

    <div class="form-group col-sm-12 col-md-12">
      <small id="uomlHelp" class="form-text text-muted">If <b>UOM</b> is <b>piece</b> and <b>Secondary UOM</b> is <b>dozen</b>, then <b>Primary Quantity</b> will be <b>12</b> and <b>Secondary Quantity</b> will be <b>1</b>.</small>
    </div>
  </div>

  <div class="custom-control custom-checkbox">
    <%= f.check_box :archive, class: "custom-control-input" %>
    <%= f.label :archive, class: "custom-control-label" %>
  </div>
<% end %>
