<div class="table-responsive">
  <table class="table" width="100%">
    <thead class="thead">
      <tr>
        <th scope="col"><%= sort_link @search, :name, "Name" %></th>
        <th scope="col"><%= sort_link @search, :item_group_name, "Item Group" %></th>
        <th scope="col"><%= sort_link @search, :uom_short_name, "UOM" %></th>
        <th scope="col"><%= sort_link @search, :secondary_uom_short_name, "Secondary UOM" %></th>
        <th scope="col">Convertion Ratio</th>
        <th scope="col">Images</th>
        <th scope="col"><%= sort_link @search, :archive, "Status" %></th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td scope="row"><%= item.name %></td>
          <td><%= item.item_group_name %></td>
          <td><%= item.uom_short_name %></td>
          <td><%= item.secondary_uom_short_name %></td>
          <td><%= item.convertion_ratio %></td>
          <td><%= show_images_link(item) if item.image_attached? %></td>
          <td><%= item.archived_status %></td>
          <td class="text-center">
            <%= edit_link_using_modal(controller_name, item) %>
            <%= history_link_using_modal(controller_name, item) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagy" %>
<div id="image_modal_block"></div>
